@using BOL;
<h2>Customer Details</h2>
<hr />
 
 
<div>
    <p>@ViewBag.customer.Id</p>
    <p>@ViewBag.customer.FullName</p>
    <p>@ViewBag.customer.ContactNo</p>
    <p>@ViewBag.customer.Address</p>
    <p>@ViewBag.customer.Product</p>
</div>

<br />
<br />
<hr />